<div class="container intro">
  <div class="row">
    <div class="col-md-10">
      <p id="firstDescription">We have 30 years experience "interfacing man and machine" together to do incredible things!

      </p>
    </div>
  </div>
</div>
<div class="container-fluid greyBackground">
  <div class="row smallerRow">
    <div class="col-md-4">
      <img src="../../../assets/adaptiveAid/adaptThree.jpg" alt="">
    </div>
    <div class="offset-md-1 col-md-7">
      <h2>Personal Evaluations</h2>
      <div class="border"></div>
      <p>An evaluation is crucial because it addresses the issues regarding short/long term goals, employment potential, environment,
        capability of the client, etc. The key is optimal integration of the device with the client to perform the goals
        identified.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid whiteBackground">
  <div class="row smallerRow">
    <div class="col-md-7">
      <h2>Devices That Fit Your Unique Needs</h2>
      <div class="border"></div>
      <p>Adaptive Aids or Assistive devices are plentiful today - some cost as much as a nice car! However, spending lots of
        money on a device does not equal success. An evaluation is crucial because it addresses the issues regarding short/long
        term goals, employment potential, environment, capability of the client, etc. The key is optimal integration of the
        device with the client to perform the goals identified.
      </p>
    </div>
    <div class="offset-md-1 col-md-4">
      <img src="../../../assets/adaptiveAid/adaptOne.jpg" alt="">
    </div>
  </div>
</div>
<div class="container-fluid greyBackground">
  <div class="row smallerRow">
    <div class="col-md-4">
      <img src="../../../assets/adaptiveAid/adaptTwo.jpg" alt="">
    </div>
    <div class="offset-md-1 col-md-7">
      <h2>Decisions Based Off Each Individual</h2>
      <div class="border"></div>
      <p>Sometimes an off-the-shelf product works as is. Sometimes it has to be modified a little - sometimes alot. Often, the
        devices are mounted in unique positions and odd angles in order to accommodate the user.
      </p>
    </div>
  </div>
</div>
<div class="container whiteBackground">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Real World Example</h2>
      <p>The laptray below was designed for a 2nd year college student. The student was fiercely independent so a laptray with
        a laptop, printer, bookholder and mouse pad was developed. The student was able to operate all functions. In the
        "traveling position", all components fit inside the 25" width of the laptray.</p>
        <p>Once at the destination, the components
            open so that the student can "spread out" and be fully functional. The laptray is made of a composite polymer weighing
            half that of standard materials yet stronger! This is important because the people (family members, attendants, others)
            mounting and removing the laptray several times a day must be considered if the laptray is going to be successful.</p>
    </div>
  </div>
  <div class="row laptopPictures">
    <div class="offset-md-1 col-md-4">
      <img src="../../../assets/adaptiveAid/adaptFour.jpg" alt="">
    </div>
    <div class="offset-md-2 col-md-4">
      <img src="../../../assets/adaptiveAid/adaptFive.jpg" alt="">
    </div>
  </div>
</div>
