.landing {
  background-image: url('../../assets/landingTest.jpg');
  height: 75vh;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
}

.row {
  padding: 0 15% 0 15%;
}

.tagLines {
  color: white;
  /* text-transform: uppercase; */
  font-family: 'Bevan', cursive;
  letter-spacing: 2px;
}

.and {
  margin: 0 auto;
  height: 70px !important;
  width: auto;
  padding: 4%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
          cursor: default;
}

.clippy {
  background-color: rgba(30, 79, 162, 0.5);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  /* -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%); */
  height: 100%;
  width: 60%;
}

h3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
