<div class="container-fluid landing d-flex align-items-center justify-content-start">
  <div class="clippy d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-center ">
      <div class="col-md-12">

        <h3 class="tagLines text-center">Communications,</h3>
        <h3 class="tagLines text-center"> Environmental Control </h3>
        <img class="and d-flex" src="../../assets/and.png" alt="">
        <h3 class="tagLines text-center">Mobility Solutions</h3>
        <h3 class="tagLines text-center">for the Disabled</h3>
      </div>
    </div>
  </div>
</div>
