<div class="container-fluid backgroundImage">
  <div class="clippy">
    <div class="row">
      <div class="col-md-12 aboutCol">
        <h1 class="text-center">About</h1>
        <div class="flagParent">
          <img class="flag" src="../../assets/flag.png" alt="">
          <img class="line" src="../../assets/aboutLine.png" alt="">
        </div>
        <p>Rehab Engineering Inc was founded by Jose E. Hernandez, a registered professional engineer and his wife, a registered
          occupational therapist. Mr. Hernandez has degrees in Electrical Engineering and Bio-Medical Engineering and has
          worked hand-in-hand with the disabled population since 1973.</p>
        <div class="adaptParent">
            <img class="line" src="../../assets/aboutLine.png" alt="">
          <img class="adapt" src="../../assets/adapt.png" alt="">
          <img class="line" src="../../assets/aboutLine.png" alt="">
        </div>
        <p class="lastParagraph">We have designed and installed a variety of adaptive aids ranging from communications and environmental control with
          just an eye blink to worksite improvements using speech recognition on a laptop. We provide comprehensive, turn-key
          training programs. In addition, we have designed scores of ramps and platforms in compliance to ADA standards for
          the Texas Rehab Commission, the Veterans Administration and school districts. We perform site surveys and provide
          BEFORE and AFTER illustrations on our drawings.</p>
      </div>
    </div>
  </div>
</div>
