.backgroundImage {
  background-image: url('../../assets/wheelchair.jpg');
 min-height: 70vh; 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
}

.clippy {
  background-color: rgb(41, 52, 89);
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
  min-height: 70vh;
  height: 100%;

  width: 70%;
}

h2 {
  padding-top: 5%;
  font-family: 'Bevan', cursive;

}
p{
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}
p,
h2 {
  color: white;
  /* padding-top: 5%; */
  padding-left: 5%;
  padding-right: 5%;
  /* font-size: 120%; */
  width: 85%;
}

.flag,
.adapt,
.line {
  display: block;
  margin: 0 auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
.line {
  padding-top: 1%;
  padding-bottom: 1%;
}
.flagParent {
  padding-top: 5%;
  width: 85%;
}

.adaptParent {
  width: 85%;
}
.lastParagraph {
  padding-bottom: 5%;
}
