<div class="container-fluid whiteBackground">
  <div class="row smallerRow">
    <div class="col-md-4">
      <img src="../../../assets/ramp/rampOne.jpg" alt="">
    </div>
    <div class="offset-md-1 col-md-7">
      <h2>ADA Standards for Accessible Design</h2>
      <div class="border"></div>
      <p>Our ramps are manufactured to ADA standards and last for many years. Not only are they maintenance and arsenic free,
        but the majority of the components can be re-used if the building is relocated netting a substantial saving.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid greyBackground">
  <div class="row smallerRow">
    <div class="col-md-7">
      <h2>Built to Support Motorized Wheelchairs</h2>
      <div class="border"></div>
      <p>Easily installed in one day, all load areas are treated with a heavy grade antiskid surface meeting motor vehicle standards.
      </p>
    </div>
    <div class="offset-md-1 col-md-4">
      <img src="../../../assets/ramp/rampTwo.jpg" alt="">
    </div>
  </div>
</div>
<div class="container-fluid whiteBackground">
  <div class="row smallerRow">
    <div class="col-md-4">
      <img src="../../../assets/ramp/rampThree.jpg" alt="">
    </div>
    <div class="offset-md-1 col-md-7">
      <h2>Smaller Removable Ramps for Low Clearance</h2>
      <div class="border"></div>
      <p>Modular components comprising of 2-foot, 4-foot, 6-foot and 8-foot sections are designed to be interchangeable. Meeting
        both ADA and TRC specifications, its light weight and segmented design is the perfect option for semi-permanent situations.
      </p>
    </div>
  </div>
</div>
