p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding-top: 2.5%;
}
.customContainer {
  padding: 5% 0 5% 0;
}
h2 {
  font-family: 'Raleway', sans-serif;
}
.customRow {
  padding: 0 10% 0 10%;
}
.greyContainer {
  /* background-color: rgb(240, 240, 240); */
  padding: 5% 0 5% 0;
}
li {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 200%;
}
.seminar {
  padding-bottom: 5%;
}
.markers {
  width: 50%;
}
.imgParent {
  width: 100%;
}
.greyCustomContainer {
  padding: 5% 0 5% 0;
  /* background-color: rgb(240, 240, 240) */
}