<div class="container customContainer">
  <div class="row">
    <div class="col-md-5">
      <h2>Training is the glue that determines how well the system holds up</h2>
      <p>Training is much more than just showing a client a few ways to move a mouse via voice. Training is complete when the
        client demonstrates Independent performance of a defined goal.</p>
    </div>
    <div class="offset-md-1 col-md-6">
      <img src="../../../assets/trainingPageTwo.jpg" alt="">
    </div>
  </div>
</div>
<div class="container-fluid greyCustomContainer">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <h2 class="seminar">We offer a 45-minute seminar free of charge - please call to reserve.</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/markers.jpg" alt="">
      </div>
      <div class="offset-md-1 col-md-5">
        <ul>
          <li>1) Baseline - learn the 6 core factors</li>
          <li>2) The Gaps - How to identify</li>
          <li>3) Target Practice</li>
          <li>4) Getting Started</li>
          <li>5) Standards - Input & Output</li>
          <li>6) Road Signs </li>
        </ul>
      </div>
    </div>
  </div>
</div>
