<div class="container-fluid background">
  <div class="row" *ngIf="currentState==='/'">
    <div class="col-md-12">
      <h1 class="contact text-center">Contact</h1>
    </div>
  </div>
  <hr *ngIf="currentState==='/'">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Jose Hernandez</h2>
      <h2>Rehab Engineering Inc.</h2>
    </div>
    <div class="col-md-6 text-center">
      <h2>+2107443874</h2>
      <h2>Fax +2105684654</h2>
      <h2>jehpe@earthlink.net</h2>
    </div>
  </div>
</div>