.background {
  min-height: 70vh;
  padding: 10%;
}
h1 {
  font-family: 'Bevan', cursive;
}
h2 {
  padding: 5% 0 5% 0;
  font-family: 'Raleway', sans-serif;
}
.line {
  height: 100%;
  border: 1px solid red;
}