<div class="container-fluid containerBorder">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/"><img class="logo" src="../../assets/rehabLogo.png" alt="logo"></a>
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-end">
          <h2 class="number">210.744.3874</h2>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a routerLink="/">
            <h5>Home</h5>
          </a>
          <a routerLink="/adaptiveaid">
            <h5>Adaptive Aid</h5>
          </a>
          <a routerLink="/training">
            <h5>Training</h5>
          </a>
          <a routerLink="/ramps">
            <h5>Ramps</h5>
          </a>
          <a routerLink="/contact">
            <h5>Contact</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
