.containerPadding {
  padding-top: 10%;
  padding-bottom: 10%;
}

.serviceImg {
  margin: 5%;
  width: 90%;
  height: auto;
  box-shadow: 5px 5px 5px #888888;
}

.serviceImg, h2 {
  margin-left: 5%;
  color: rgb(30, 79, 162);
  font-family: 'Bevan', cursive;
  letter-spacing: 2px;
}

.servicesBackground {
  transition: background-color 0.5s ease;
  background-color: none;
  cursor: pointer;
}

.serviceDescription {
  margin-left: 5%;
  color: black;
}

.servicesBackground:hover{
  transition: background-color 0.5s ease;
  background-color:   rgb(87, 93, 114);
}

.servicesBackground:hover .serviceDescription, .servicesBackground:hover h2{
  transition: background-color 0.5s ease;
  color: white;
}

