<div class="container-fluid containerPadding">
  <div class="row">
    <div class="col-md-4 servicesBackground">
      <img class="serviceImg" src="../../assets/adaptiveAid.jpg" alt="">
      <h2>Adaptive Aid</h2>
      <p class="serviceDescription">We have 30 years experience "interfacing man and machine" together to do incredible things!</p>
    </div>
    <div class="col-md-4 servicesBackground">
      <img class="serviceImg" src="../../assets/ramp.jpg" alt="">
      <h2>Ramps</h2>
      <p class="serviceDescription">We have 30 years experience "interfacing man and machine" together to do incredible things!</p>      
    </div>
    <div class="col-md-4 servicesBackground">
      <img class="serviceImg" src="../../assets/training.jpg" alt="">
      <h2>Training</h2>
      <p class="serviceDescription">We have 30 years experience "interfacing man and machine" together to do incredible things!</p>      
    </div>
  </div>
</div>
